@use '../../styles/_index.scss' as *;

.main {
    background-color: $white0;
    height: 50%;    
    padding-bottom: 1.5 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    padding-top: 8.6rem;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;

    & > span {
        font-size: 2.475rem;
        font-family: "Source Serif Pro Italic";
        font-weight: 700;
        color: $based-green;
    }
}

.descricao {
    width: 100%;
    font-family: "Manrope";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $off-black;
    text-align: center;
    gap: 1rem;

    & > p {
        width: 38rem;
    }
    // text-align: center;
}


.espacosMainCarousel {
    height: 100%;    
    background-color: $white0;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-inline: 4rem;

    & > button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        > svg {
            color: $based-green;
            font-size: 1.5rem;
        transition: .2s ease-out all;

            &:hover {
                transform: scale(1.1);
            }
        }

        
        // width: 1rem;
    }
}


.slideToPrevItem {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slideToNextItem{
    position: absolute;
    z-index: 10;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);


}

.card {
    background-color: $bege;
    padding: 1.5rem 4rem;
    width: 12rem;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    word-break: keep-all;
    color: $based-green;
    font-size: 0.8rem;
    font-family: "Manrope";
    margin-inline: 2rem;

    & > .line {
        width: 4rem;
        height: 1.2px;
        background-color: $golden;
    }


    & > .depoimento {
        // font-weight: 800;
        text-align: center;
    }  
    
    & > .autor {
        color: $golden;
    }
}


@media (min-width: 628px) and (max-width: 992px)  {

    .card {
        width: 14rem;
        height: auto;
    }

    .espacosMainCarousel {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }
}

@media (max-width: 627px) {
    
    .main {
        padding-inline: 1rem;
    }

    .espacosMainCarousel {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-items: center;
        margin-inline: 1.2rem;

    }

    .descricao > p {
        width: 80%;
    }

    .card {
        height: 9rem;
        margin-inline: 2rem;
        // padding: 1.5rem 2rem;
        font-size: 0.8rem;
        padding: 1.5rem 2rem;

        

        & > .depoimento {
            font-size: 0.8rem;
        }

        
    }
}

