@use '../../styles/_index.scss' as *;

.content {
    background-image: url('../../public/images/orcamento-header.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 22.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h1 {
        color: $white0;
        font-family: "Source Serif Pro Italic";
        padding: 10%;
        font-size: 3.5rem;
        margin-top: 6rem;
    }
}

.main {
    background-color: $bege;
}

.mainContentForm {
    background-color: $bege;
    height: auto;
    width: 97%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    & > .introduction {
        width: 40%;
        display: flex;
        flex-direction: column;

        & > h2 {
            font-family: "Source Serif Pro Italic";
            font-size: 2rem;
            
        }

        & > span {
            font-family: "Manrope";
            color: $off-black;
            margin-bottom: 2rem;
            margin-top: 7px;
            width: 90%;
        }

        & > img {
            object-fit: cover;
            width: 85%;
        }
    }

    & > .formContato {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 2.33rem;


        & > div {
            display: flex;
            gap: 3rem;
        }

        & > .informacoes {

            font-family: "Manrope";
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            // margin-bottom: ;

        }

        button {
            padding: 0.4rem;
            width: 100%;
            background-color: $black1;
            font-family: "Manrope";
            color: $white0;
        }
    }
}