@use '../../styles/_index.scss' as *;

.fullbody {
    background-color: $bege;
}


.backgroundQM {
    display: flex;
    gap:2rem;
    justify-content: center;
    padding: 10.6rem 8.6rem;
    background-color: $bege;

}

.explicacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;

    

    & > p {
        display: block;
        text-transform: uppercase;
        font-family: "Manrope";
        color: $dark-green;
        font-size: 1rem;

        & > img {
            height: 1.3rem;
        }

    }

    & > span {
        width: 20rem;
        font-size: 3.5rem;
        font-family: 'Source Serif Pro Italic';
        font-weight: bold;
        line-height: 3.8rem;
        margin-block: 1.5rem;
        color: $dark-green;
    }

}

.imagem {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.historia {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    font-family: "Manrope";
    color: $dark-green;
}

.responsiveImg {
    min-width: auto;
    height: auto;
    width: 100%;
}

@media (max-width: 1224px) {
    .backgroundQM {
        padding: 10rem 4rem;
    }
}

@media (max-width: 1036px) {
    .backgroundQM {
        padding: 7rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .explicacao {
        width: 100% ;

        & > span {
            width: 100%;
        }
    }

    .imagem {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 400px) {
    
}