@use '../../styles/_index.scss' as *;

.footer {
    // margin-top: 4rem;
    min-width: 100%;
    background-color: rgba($based-green, 0.4);
    height: 20px;
    color: #FFFFFF;
    padding-block: 20px;
    text-align: center;
    font-family: "Manrope";
    color: $dark-green;
    font-size: 14px;
}

@media (max-width: 700px) {
    .footer {
        font-size: 12px;
    }
}

