@use './_index.scss' as *;


.bodyAll {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  // position: relative;
  font-family: 'Source Serif Pro';
  position: relative;
}

.bannerHome {
  background-image: url('../public/banner-home.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.introduction {
  padding: 10.6rem 7.3rem;
  color: white;
  

  & > p {
    font-family: "Source Serif Pro Italic";
    font-size: 4.5rem;
    font-weight: 700;
  }

  & > span {
    font-family: "Source Serif Pro";
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 2.1875rem;
    font-size: 1.3rem;
  }

  & > button {
    padding: 1rem 1.6rem;
    text-transform: uppercase;
    background-color: $golden;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: $white0;
    cursor: pointer;
    transition: .2s all;
  }
}

@media (max-width:640px) {

  .bannerHome {
    background-position: center;
  }

  .introduction {   
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 2.5rem;
    // background-color: rgb(132, 92, 92);
  
    & > p {
      font-size: 4rem;
     
    }

    & > button {
      // padding: 1rem 1.6rem;
      // text-transform: uppercase;
      // background-color: $golden;
      // font-weight: 500;
      // letter-spacing: 0.2rem;
      // color: $white0;
      // cursor: pointer;
      // transition: .2s all;
      background-color: transparent;
      font-size: 1.2rem;
      border: 1px solid $golden;


    }
  }
}