// colors

$white2: #EFEFF0;
$white0: #FFFFFF;
$bege: #FCF5E8;
$pastel: #F2E5C5;

$black0: #000000;
$black1: #111720;   
$black2: #191927;
$off-black: #262A36;

$gray: #959595;
$grey1: #6C6A80;

$golden: #CBB98A;
$dark-blue: #0B2A48;

$based-green: #39563B;
$dark-green: #17312B;

// breakpoints
$min-cellphone: 20rem;
$max-cellphone: 30rem;

$min-tablet: 30.0625rem;
$max-tablet: 48rem;

$min-notebook: 64.0625rem;
$max-notebook: 75rem;

